:host {
    display: block;
    background-color: #9d54e6;
    color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
}

.forecast-days-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  height: 40px;
  padding: 0 10px;
  padding-left: 40px;

  .temp-label {
    font-size: 12px;
  }
}

#chartdiv {
    width: 100%;
    height: 150px;
}
